.navbar {
  font-size: 2rem;
  padding: 1em;
  background: rgb(238, 187, 174);
  background: linear-gradient(
    0deg,
    rgba(238, 187, 174, 1) 34%,
    rgba(238, 185, 174, 1) 36%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 0.8rem;
}

.navbarLogo {
  margin-right: 0.5em;
  color: maroon;
  transition: all 200ms ease-in-out;
}

.navbarLogo:hover {
  transform: scale(1.1);
}

.navbarCount {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  background-color: salmon;
  color: white;
  border-radius: 50%;
}

@media screen and (max-width: 540px) {
  .navbar {
    width: 100%;
    text-align: center;
  }
}
